html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    /*justify-content: center*/
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Eater', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    max-width: 100%;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 22%;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    /*text-align: center;*/
    width: 400px;
    max-width: 100%;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: #ff9900;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.timer {
    display: inline;
    margin-left: 2vw;
}

.popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    font-size: 2vw;
    text-align: center;
    z-index: 1;
    padding-bottom: 3vw;
}

.popup-content {
    margin: auto;
    margin-top: 10%;
    width: 700px;
    max-width: 95%;
    height: auto;
    background-color: #ff9900;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    padding: 2vw;
}

.fa-times {
    float: right;
    font-size: 3vw;
    cursor: pointer;
}

.play-again {
    font-weight: bold;
    cursor: pointer;
}

.fa.fa-repeat {
    padding-right: 3vw;
    font-size: 2em;
}